/*
 
 Github Project page: https://github.com/sancowinx/literallycss

 **** CONTENTS ****

 * GENERAL FONTS SETTINGS -         Offers a rules for setting a font based on OS of client.
                                    Or use Open Sans.

 * BACKGROUNDS  -                   Generic Background helpers

 * IMAGE UTILITIES -                Image utilities class

 * MARGIN-PADDING UTILS -           presets of margin,padding utilities class
                                    locked at 15px

 * BORDER -                         All border setting

 * POSITIONING & WIDTH-HEIGHT -     Positioning, Width and height helpers

 * TEXT ALIGNMENT & MANIPULATION -  Text alignment: left, right, center, justify, inherit;
                                    also manipulation like no selection

 * DISPLAY HELPERS -                Including display type, visibility, and overflow

 * HTML ELEMENTS -                  html, body, header, footer, section etc.

*/





/*====================================*\
    #GENERAL FONTS SETTINGS
\*====================================*/


/* font-import */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

/* Font options */

.font-os-sans-serif { font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
.font-opensans      { font-family: 'Open Sans', sans-serif; }


/* font style */

.font-style-normal    { font-style: normal;   }


/* font variant: normal, small-cap, default */

.font-variant-normal      { font-variant: normal;     }
.font-variant-small-caps  { font-variant: small-caps; }
.font-variant-initial     { font-variant: initial;    }





/*====================================*\
    #BACKGROUNDS
\*====================================*/


.bg-white {
  background: #FFFFFF;
       color: #000000;
}

.bg-black {
  background: #000000;
       color: #ffffff;
}

.bg-grey {
  background: #3E3F3E;
       color: #ffffff;
}

.bg-bashgreenblack {
  background: #000000;
       color: #00ff00 
}





/*====================================*\
    #IMAGE UTILITIES
\*====================================*/


.image-bg-responsive {
  /*no repeating, positioning top-center*/
  -webkit-background-size:    cover;          /*webkit apple*/
     -moz-background-size:    cover;          /*mozilla firefox*/
       -o-background-size:    cover;          /*opera*/
          background-size:    cover;
               min-height:    400px;
}

/* image filtering */


.image-filter-opacity-half {
  -webkit-filter: opacity(.5);
          filter: opacity(.5);
}

.image-filter-opacity-none {
  -webkit-filter: opacity(0);
          filter: opacity(0);
}

.image-filter-grayscale { 
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.image-filter-sepia {
  -webkit-filter: sepia(1);
          filter: sepia(1);
}




/*====================================*\
    #MARGIN-PADDING UTILS
\*====================================*/


.margin-topbottom {
  margin-top:     15px;
  margin-bottom:  15px;
}

.margin-leftright {
  margin-left:    15px;
  margin-right:   15px;
}

.padding-topbottom {
  padding-top:     15px;
  padding-bottom:  15px;
}

.padding-leftright  {
  padding-left:    15px;
  padding-right:   15px;
}

/* Negative margin */

.margin-minus-topbottom {
  margin-top:     -15px;
  margin-bottom:  -15px;
}

.margin-minus-leftright {
  margin-left:    -15px;
  margin-right:   -15px;
}


/* Zero padding/margin side (vertical / horizontal) */

.no-margin-topbottom {
  margin-top:     0 !important;
  margin-bottom:  0 !important;
}

.no-margin-leftright {
  margin-left:    0 !important;
  margin-right:   0 !important;
}

.no-padding-topbottom {
  padding-top:     0 !important;
  padding-bottom:  0 !important;
}

.no-padding-leftright {
  padding-left:    0 !important;
  padding-right:   0 !important;
}

/*Zero padding/margin all side */

.no-padding { padding:    0 !important; }
.no-margin  { margin:     0 !important; }





/*====================================*\
    #BORDER
\*====================================*/


.border-none        { border-style: dotted; }
.border-dotted      { border-style: dashed; }
.border-solid       { border-style: solid;  }
.border-double      { border-style: double; }


/* Radius */

.border-allrounded  { border-radius:  25px !important;  }
.border-squared     { border-radius:  0   !important;   }

/* border-box */

.border-box         { box-sizing: border-box !important;  }





/*====================================*\
    #POSITIONING & WIDTH-HEIGHT
\*====================================*/


.fixed              {   position:   fixed;      }
.relative           {   position:   relative;   }
.absolute           {   position:   absolute;   }


/* Intended to use with absolute positioning */

.position-top       {   top:    0;  }
.position-bottom    {   bottom: 0;  }
.position-right     {   right:  0;  }
.position-left      {   left:   0;  }


/* Inheritor for positioning nested elements */

.inherit-min-height {   min-height: inherit;  }
.inherit-min-width  {   min-width:  inherit;  }

.inherit-max-height {   max-height: inherit;  }
.inherit-max-width  {   max-width:  inherit;  }

.inherit-height     {   height:     inherit;  }
.inherit-width      {   width:      inherit;  }

.min-height-full    {   min-height: 100%;     }
.min-width-full     {   min-width:  100%;     }

.max-height-full    {   max-height: 100%;     }
.max-width-full     {   max-width:  100%;     }

.height-full        {   height:     100%      }
.width-full         {   width:      100%      }

/* basically same as above but to be easier to read*/

.height-fitcontent  {   height:     100% !important }
.width-fitcontent   {   width:      100% !important }


.min-height-half    {   min-height: 50%       }
.min-width-half     {   min-width:  50%       }

.max-height-half    {   max-height: 50%       }
.max-width-half     {   max-width:  50%       }

.height-half        {   height:     50%       }
.width-half         {   width:      50%       }

.height-auto        {   height:     auto;     }
.width-auto         {   width:      auto;     }

/* float elements */

.float-left     {   float: left;    }
.float-right    {   float: right;   }
.float-none     {   float: none;    }
.float-inherit  {   float: inherit; }





/*====================================*\
    #TEXT ALIGNMENT & MANIPULATION
\*====================================*/


/* text alignment */

.text-align-left          { text-align:   left;     }
.text-align-right         { text-align:   right;    }
.text-align-center        { text-align:   center;   }
.text-align-justify       { text-align:   justify;  }
.text-align-inherit       { text-align:   inherit;  }


/* word wrapping*/

.wrap-longtext-in-content { word-wrap:  break-word; }   /*webcreatorbox.com/en/tutorials/css-tips-for-text*/


/* text overflow */

.textcontent-clip     { text-overflow:  clip;       }
.textcontent-ellipse  { text-overflow:  ellipsis;   }


/* strikethrough */

.strikethrough-text { text-decoration: line-through;  }


/* cleartext */

.clear-left   { clear: left;  }
.clear-right  { clear: right; }
.clear-both   { clear: both;  }


/* cursor */

.cursor-crosshair   { cursor: crosshair;   }
.cursor-default     { cursor: default;     }
.cursor-help        { cursor: help;        }
.cursor-notallowed  { cursor: not-allowed; }
.cursor-none        { cursor: none;        }
.cursor-finger      { cursor: pointer;     }
.cursor-processing  { cursor: progress;    }
.cursor-text        { cursor: text;        }
.cursor-loading     { cursor: wait;        }
.cursor-zoomin      { cursor: zoom-in;     }
.cursor-zoomout     { cursor: zoom-out;    }


/* text highlights */

.highlight-text-black         { background: rgba(0,0,0,1)         }
.highlight-text-terminalgreen { background: rgba(0,255,0,1)       }
.highlight-text-cyan          { background: rgba(0,255,255,0.8)   }
.highlight-text-magneta       { background: rgba(255,0,255,0.8)   }
.highlight-text-yellow        { background: rgba(255,255,0,0.8)   }
.highlight-text-gray          { background: rgba(128,128,128,0.8) }
.highlight-text-red           { background: rgba(255,0,0,0.8)     }
.highlight-text-green         { background: rgba(0,128,0,0.8)     }
.highlight-text-blue          { background: rgba(0,0,255,0.8);    }
.highlight-text-pink          { background: rgba(255,192,203,0.8) }
.highlight-text-orange        { background: rgba(255,165,0,0.8)   }
.highlight-text-violet        { background: rgba(238,130,238,0.8) }
.highlight-text-purple        { background: rgba(128,0,128,0.8)   }
.highlight-text-gold          { background: rgba(255,215,0,0.8)   }
.highlight-text-brown         { background: rgba(165,42,42,0.8)   }
.highlight-text-khaki         { background: rgba(240,230,140,0.8) }
.highlight-text-yellowgreen   { background: rgba(154,205,50,0.8)  }


/* spoiler */
.spoiler {
  background: #000000;
       color: #000000;
}

.spoiler:hover {
  background: transparent;
       color: inherit;
}


/* anti-aliasing text, make font smooter */
/* as of CSS3 draft documents, this is still draft, not standarized */
/* only webkit(safari,chrome) and moz(firefox) */
/* default of font-smooting is "subpixel-antialiased"  */

.text-smooth {
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
}


/* Text selection disabled */

.disable-text-selection{
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}





/*====================================*\
    #DISPLAY HELPERS
\*====================================*/


/* common display settings */

.display-nothing                  { display:  none;         }
.display-block                    { display:  block;        }
.display-inline                   { display:  inline;       }
.display-inline-block             { display:  inline-block; }
.display-inline-table             { display:  inline-table; }
.display-as-list                  { display:  list-item;    }
.display-tablecell                { display:  table-cell;   }
.display-inherit-parent-element   { display:  inherit;      }


/* overflow */

.hide-content-outofbound          { overflow: hidden;       }
.scroll-content-outofbound        { overflow: scroll;       }
.visible-scrollbar                { overflow: visible;      }


/* visibility */

.show-element                       { visibility: visible;  }
.hide-element                       { visibility: hidden;   }
.collapse-elements                  { visibility: collapse; }
.inherit-parent-element-visibility  { visibility: inherit;  }





/*====================================*\
    #HTML ELEMENTS
\*====================================*/


/* list (ul,li): invoke either `ul` or `li` elements */

.no-bullets-list                { list-style-type: none;        }
.circle-bullets-list            { list-style-type: circle;      }
.default-bullets-list           { list-style-type: disc;        }
.square-bullets-list            { list-style-type: square;      }
.number-list                    { list-style-type: decimal;     }
.lowercase-latin-list           { list-style-type: lower-alpha; }
.uppercase-latin-list           { list-style-type: upper-alpha; }
.lowercase-romannumueric-list   { list-style-type: lower-roman; }
.uppercase-romannumueric-list   { list-style-type: upper-roman; }


/* opacity */

.opacity-none { opacity: 0;   }
.opacity-half { opacity: .5;  }


/* z-index order */

.order-front    { z-index: 666;      }
.order-default  { z-index: initial;  }
.order-inherit  { z-index: inherit;  }


/* transition */

.transition-default     { transition-timing-function: initial;      }
.transition-linear      { transition-timing-function: linear;       }
.transition-easein      { transition-timing-function: ease-in;      }
.transition-easeout     { transition-timing-function: ease-out;     }
.transition-easeinout   { transition-timing-function: ease-in-out;  }


/* rotate element */

.transform-rotate-clockwise-90 {
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
}


.transform-rotate-counterclockwise-90 {
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}


/* scale up elements */

.transform-scaleup {
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
       -o-transform: scale(1.2);
          transform: scale(1.2);
}


/* resizing element */

.resize-vertical {
    resize: vertical;
  overflow: auto;
}

.resize-horizontal {
    resize: horizontal;
  overflow: auto;
}

.resize-both {
    resize: both;
  overflow: auto;
}

.resize-none {
    resize: none;
  overflow: auto;
}